header{
    color:#fff;
    background-color: rgb(70, 66, 66)   
}
p{
    color: white;
}
h2{
    color: aqua;
}
body{
    background-color: rgb(14, 97, 136);
}
label{
    color: #fff;
}